@if (score<201) {
    <nz-tag nzColor="red" [nzBordered]="false">{{ score }}</nz-tag>
}
@if (score>201 && score<251) {
    <nz-tag nzColor="orange" [nzBordered]="false">{{ score }}</nz-tag>
}
@if (score>250 && score<301) {
    <nz-tag nzColor="yellow" [nzBordered]="false">{{ score }}</nz-tag>
}
@if (score>300 && score<351) {
    <nz-tag nzColor="blue" [nzBordered]="false">{{ score }}</nz-tag>
}
@if (score>350 && score<401) {
    <nz-tag nzColor="green" [nzBordered]="false">{{ score }}</nz-tag>
}

  
  