@if (status=='GREEN') {
    <nz-tag nzColor="green" [nzBordered]="false">{{ status }}</nz-tag>
}
@if (status=='GOOD') {
    <nz-tag nzColor="lime" [nzBordered]="false">{{ status }}</nz-tag>
}
@if (status=='ADVERSE') {
    <nz-tag nzColor="orange" [nzBordered]="false">{{ status }}</nz-tag>
}
@if (status=='FAIR') {
    <nz-tag nzColor="yellow" [nzBordered]="false">{{ status }}</nz-tag>
}
@if (status=='PEP') {
    <nz-tag nzColor="red" [nzBordered]="false">{{ status }}</nz-tag>
}
@if (status=='INCONCLUSIVE') {
    <nz-tag nzColor="grey" [nzBordered]="false">{{ status }}</nz-tag>
}

  
  